.table {
    display: flex;
    flex-direction: row;
    border: 5px solid;
    width: 75%;
    padding: 10px;
    margin: auto;
    color: antiquewhite;
    background-color: rgba(223, 223, 238, 0.404);
    font-weight: 700;
  
  }
  
  .main-title {
    font-size: 20px;
    font-weight: 500;
    margin: 3rem;
    padding: auto;
  }
  
  .names-div, .prices-div {
    
    display: flex;
    flex-direction: column;
  }
  
  .names-div span, .prices-div span {
    border: 1px solid black;
  }
  
  .date-and-time {
font-size: 30px;
font-weight: 500;
  }
.title {
background-color: rgba(240, 248, 255, 0.582);
font-weight: 800;
font-size: large;

}