.App {
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
}

.main-title {
  margin: 3rem;
}

.names-div, .prices-div {
  display: flex;
  flex-direction: column;
}

.names-div span, .prices-div span {
  border: 1px solid black;
}

.title {
  background-color: aqua;
}